<div class="container">
  <h1 class="page-title mt-3"> Create a new watchlist </h1>
  <%= simple_form_for @list do |f| %>
            <div class="form-inputs">
              <%= f.input :name,
                          required: true,
                          label: "Give this watchlist a name",
                          input_html: { class: "form-control", :maxlength =>100, :style=> 'width: 600px' } %>
            </div>
            <div class="form-actions mt-4 d-flex align-items-center gap-3">
              <%= f.button :submit, "Create watchlist", class: "btn btn-primary px-5" %>
              <%= link_to "Cancel", lists_path, class: "btn btn-link text-muted" %>
            </div>
          <% end %>
</div>
