<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/mihaelasacara-bit"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/mihaelasacara/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This watchlist is a Le Wagon challenge.
  </div>
</div>
