$accent-color: #e7e7e7;
$brand-color: #fe4141;
$dark-color: #1e1b26;

body {
  background: #1f1f1f;
}

#lists-row .col {
  display: flex;
}

.list-card {
  background-color: $dark-color;
  border-radius: 5px;
  box-shadow: 5px 5px 115px -14px black;
  margin-top: 20px;
  color: lightgray;
  width: 100%;
  overflow: hidden;
}

.list-card-content {
  min-width: 0;
}

.list-card-body {
  padding: 25px;
}

.list-card-bottom {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.view-btn {
  color: $accent-color;
  border-color: $accent-color;

  &:hover {
    background-color: $accent-color;
    color: $dark-color;
  }
}

.list-img {
  width: 200px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.movie-preview-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 3px 0;

    i {
      margin-right: 6px;
      color: $brand-color;
    }
  }

  .empty-list-msg, .more-movies-msg {
    font-style: italic;
    color: #6b6878;
  }
}
